<body>
    <div class="container">
      <header class="header">
        <div class="logo-container">        
          <h1  class="logo-text">
               SDS-UnB / Web  Conf
          </h1>          
        </div>    
               
      </header>              

       <div class="content-container">
          <div class="active-users-panel" id="active-user-container" id="div-scroll">
            <h3 class="panel-title"> Usuários ativos :</h3>          
            
            <!-- @nomeu faz a conexão com a trigger criada para o efeito de animação -->
            <!-- <div *ngFor="let u of listaU" [@nomeu]="estado"> {{ u.user }} entrou </div> -->

            <p *ngFor="let item of messageArray"> 
                <span> <b> {{ item.user }}: </b>  {{ item.mensage }} </span>
            </p>                                
                                        
        </div> 

        <!-- <div>          
            <button id="callButton" (click)="call()"[disabled]="callBtnHabDes" >Call</button>
            <button id="startButton" (click)="start()" [disabled]="startBtnHabDes"> Start </button>
        </div> -->

        <div class="ui form" id="div-mensagem" >
          <input type="text" placeholder="Sua mensagem aqui" id="txt-mensagem" [(ngModel)]="messageText"
           (keyup.enter)="sendMessage()" [disabled]="msgHabDes" (keydown.enter)="scroll()">
          
          <!-- <button id="bt-enviar" mat-raised-button color="primary" (click)="sendMessage()"> Enviar </button> -->
        </div> 

          <div class="video-chat-container">
            <h2 class="talk-info" id="talking-with-info">
              Vídeos ativos
            </h2>
            
            <button id="bt-call" mat-raised-button color="warn" (click)="startCall()"> Call </button>

            <div class="video-container" id="videos">
              <video autoplay class="remote-video" id="remote-video"></video>
              <video autoplay muted class="local-video" id="local-video"> </video>

              <!-- apenas para teste -->
              <video id="video2" playsinline autoplay></video>
              <video id="video3" playsinline autoplay></video>
              
              <!-- <canvas id="preview" style="display: none;"> </canvas>
              <img id="play">
              <div id="logger"></div> -->

              <!-- <p *ngFor="let web of wecams" id="pcam">
                  {{ web }}
              </p> -->
            </div>

            <div class="ui form" id="div-usuario" >
                <input type="text" placeholder="Seu nome aqui" id="txt-usuario" 
                  [(ngModel)]="user"  (keyup.enter)="msgHabIn()" autofocus>
                
               
                <!-- <button id="bt-entrar" mat-raised-button color="primary" (click)="novoUsuario()"> Entrar </button> -->
                <!-- <button id="bt-sair" mat-raised-button color="warn"> Sair </button> -->
            </div>

            <div class="row call-btn-div">
              <!-- <button  id="bt-cam"> WebCam </button> -->
              <a > <img src="/assets/cam_desativada.PNG" id="cam_des" (click)="joinRoom()"> </a>
              <a > <img src="/assets/mic_desativado.PNG" id="mic_des"> </a>
          </div>
        </div>
      </div>    

    </div>
</body>

<!-- <video controls playsinline autoplay loop muted></video>



<div class="slidecontainer">
    <input type="range" min="0" max="6" value="3" step="0.1" class="slider" id="myRange" (change)="changeVolume($event.target.value)">
</div> -->
