
mat-card
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 42%;
    width: 540px;
    text-align: center;
}

#div-botao-cs { margin-left: 37%; }

#sala { margin-top: 2%; }

#div-bt-entrar
{
    margin-top: 8%;
    margin-left: -15%;
}