<mat-card>
  <mat-card-content>
      <h1 class="logo-text">
        SDS-UnB / Web<span class="logo-highlight"> Conf </span>          
    </h1>          

    <div class="ui form">
      <div class="fields">
        <!-- <div class="field" id="usuario">            
          <input type="text" placeholder="Seu nome aqui" id="username" name="username" [(ngModel)]="nomeU">
          <input type="text" name="sala" id="sala" placeholder="Informe a sala para entrar">          
        </div>  -->

        <div id="div-botao-cs">            
          <button id="bt-criar-sala" class="ui submit green button" (click)="criarSala()"> Criar sala </button>             
        </div>                                

        <!-- <div id="div-bt-entrar">
          <button id="bt-entrar" class="ui submit orange button"> Entrar </button>
        </div> -->
      </div>  
    </div>  
    
  </mat-card-content>  
</mat-card>